# Keystatic GitHub Storage (production only)
# Create a GitHub OAuth App: https://keystatic.com/docs/github-mode
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=

# Used in keystatic.config.tsx
NEXT_PUBLIC_KEYSTATIC_GITHUB_OWNER=
NEXT_PUBLIC_KEYSTATIC_GITHUB_REPO=
